<!DOCTYPE html>
<html xmlns:mth="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Dinero</title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	
	<a href="/bd/montoTotalEnBanco"><input type="button" value="Monto total en banco"></a>
	<br>
	<br>
	<a href="/bd/clienteConMasDinero"><input type="button" value="Cliente con mas dinero"></a>
	<br>
	<br>
	<br>
	
	
	<a href="/app/admin"><input type="button" value="Menu Admin"></a>
	<a href="/app/index"><input type="button" value="Menu Principal"></a>
</body>
</html>