<!DOCTYPE html>
<html xmlns:mth="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Prestamos</title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	
	AQUI SE MUESTRAN TODOS LOS PRESTAMOS ACTIVOS
	<a href="/app/busquedas"><input type="button" value="Opciones Busqueda"></a>
	<a href="/app/prestamosB"><input type="button" value="Opciones busqueda de prestamos"></a>
	<a href="/app/admin"><input type="button" value="Menu Admin"></a>
	<a href="/app/index"><input type="button" value="Menu Principal"></a>
</body>
</html>